
@{
    ViewBag.Title = "Index";
}

<li>@Html.ActionLink("Laptops", "Details", "Product", new { product = "Laptops" }, null)</li>
<li>@Html.ActionLink("Desktops", "Details", "Product", new { product = "Desktops" }, null)</li>
<li>@Html.ActionLink("Tablet", "Details", "Product", new { product = "Tablets" }, null)</li>
